<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="cs"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="cs"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="cs"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="cs" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Provident Videa</title>
    <meta name="description" content="Reklamy a další videa Provident Financial s.r.o.">

    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/libs/modernizr-2.5.3.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>
    <script type="text/javascript" src="js/greensock/plugins/CSSPlugin.min.js"></script>
    <script type="text/javascript" src="js/greensock/easing/EasePack.min.js"></script>
    <script type="text/javascript" src="js/greensock/TweenLite.min.js"></script>
    <script src="js/script.js"></script>
    <script>
        var video_list = {VIDEO_LIST};
    </script>
</head>
<body>
<header>
    <div>
        <a class="provident" href="http://www.provident.cz" title="Rychlá půjčka Provident">
            <strong>www.provident.cz</strong><br>
            Online půjčka na cokoliv
        </a>
        <a class="logo" href="/" title="Provident videa">
            <span></span><strong></strong>Provident videa
        </a>

    </div>
</header>
<div id="video">
    <a href="#" class="like" title="Líbí"><strong>Líbí</strong><br><span>10 235</span></a>
    <a href="#" class="likenot" title="Nelíbí"><strong>Nelíbí</strong><br><span>253</span></a>
    <h1>Půjčka Provident 2012<br><span>TV reklama</span></h1>
    <div class="alreadyvoted" style="display: none;">Pro každé video lze hlasovat jen jednou.</div>
    <a href="#" class="left" title="Předchozí"></a>
    <a href="#" class="right" title="Další"></a>
    <div class="screen">
        <div class="layers" id="layers">
        </div>
    </div>
</div>
<div class="panel">

    <h3>Můžete vidět na:</h3>
    <div class="links">
        <ul class="clearfix">
            <li class="youtube"><a href="http://www.youtube.com/user/jsmeprovident" title="Provident videa"><span></span>YouTube</a></li>
            <li class="vimeo"><a href="https://vimeo.com/jsmeprovident" title="Provident videa"><span></span>vimeo</a></li>
            <li class="dailymotion"><a href="http://www.dailymotion.com/JsmeProvident" title="Provident videa"><span></span>Dailymotion</a></li>
            <li class="metacafe"><a href="http://www.metacafe.com/channels/Jsme%20Provident/" title="Provident videa"><span></span>metacafe</a></li>
            <li class="stream"><a href="http://www.stream.cz/profil/jsmeprovident" title="Provident videa"><span></span>stream.cz</a></li>
            <!-- <li class="more"><a href="">Další videa..</a></li>-->
        </ul>
    </div>
    <h2>Půjčka Provident</h2>
    <p>
        Nebankovní půjčka Provident je ideálním řešením pro všechny, kdo potřebují rychle  získat peníze.
        Žádost o půjčku lze podat online nebo telefonicky, celý proces je velmi jednoduchý a rychlý.
        Půjčka může být ve výši 4000 až 50000 Kč, je bez ručitele, bez skrytých poplatků a doslova
        na cokoliv - nemusíte prokazovat, na co peníze z půjčky použijete.
    </p>
    <p>
        <strong>Od začátku přesně víte, kolik budete splácet a kolik zaplatíte celkem.
            Naši obchodní poradci jsou navíc připraveni poskytovat vám po celou dobu
            splácení půjčky individuální osobní servis.</strong>
    </p>
    <a href="https://www.provident.cz/pages/online-zadost-o-pujcku" title="Žádost o půjčku Provident" class="button red">Požádejte o půjčku právě teď</a>
</div>
<div class="panel">
    <h2>O Providentu</h2>
    <p>
        Společnost Provident Financial byla založena ve Velké Británii již v roce 1880,
        v ČR působí už od roku 1997.Za tu dobu získal Provident pověst spolehlivého poskytovatele
        rychlých nebankovních půjček. Dosvědčit to můžei fakt, že k dnešnímu dni získalo hotovostní
        či bezhotovostní půjčku Provident více než 260000 českých zákazníků.
    </p>
    <p>
        <strong>K pilířům chování naší společnosti patří korektní přístup k zákazníkům a dodržování pravidel
            zodpovědného půjčování. Věříme, že tímto potvrzujeme svou pozici odpovědné společnosti.</strong>
    </p>
    <a href="http://www.provident.cz" title="Rychlá půjčka Provident" class="button blue">Více na provident.cz</a>
</div>
<footer>
    <p>
        &copy; 2012 Provident Financial s.r.o., se sídlem v Praze 4, Olbrachtova 9/2006, PSČ: 140 00, IČ: 25621351, DIČ: CZ25621351.<br>
        Společnost zapsaná v obchodním rejstříku vedeném Městským soudem v Praze, v oddílu C, vložce 55523.
    </p>
    <a href="http://www.netfinity.cz" title="Netfinity Digital Media s.r.o.">created by Netfinity</a>
    <div class="links">
        <div>
            <menu class="clearfix">
                <li><a href="http://www.provident.cz" title="Provident"><span></span>Provident rychlá půjčka</a></li>
                <!-- <li><a href="" title=""><span></span>Provident videa</a></li> -->
            </menu>
        </div>
    </div>
</footer>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34547885-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>
